<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Document Classification</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'style/base.css' %}">
  {% block head %}{% endblock head %}
</head>

<body>
  {% block content %}{% endblock content %}
  <footer>
    <p>Posted by: Yuan Tian</p>
  </footer>
</body>

</html>
